@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*
	kentakang.com
	Develop by kentakang and pretseoyeon
*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
	background:url('../img/bg.jpg') no-repeat left top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	font-family: NanumGothic, 'NanumGothic';
	overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
	color: #40BCC9;
}

.content {
	padding: 5% 0;
    z-index: 98;
}

.header {
	padding: 12% 0 5% 0;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	padding: 0 30px;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	font-size: 3em;
	display: inline-block;
}

.nav {
  position: relative;
}

.nav > ul {
	float: left;
  left: 50%;
  margin: 0;
  padding: 0;
  position: relative;
	-moz-animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.nav > ul > li {
  float: left;
  list-style: none outside none;
  padding: 0 30px;
  position: relative;
  right: 50%;
}

.nav > ul > li > a {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-size: 1.3em;
}

.nav > ul > li > a:hover {
	color: #40BCC9;
}

.alert_box {
	text-align: center;
	width: 100%;
	height: 40px;
	background: #426BCA;
}

.alert_box p{
	margin: 0;
	padding: 8px;
	color: #fff;
  font-size: 100%;
}

.alert_box p a {
	text-decoration: none;
	color: #40BCC9;
}

.curtain {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 98;
}

.portfolio {
	margin: 9% 0 0 0;
	position: fixed;
	width: 100%;
	height: 350px;
	background: #fff;
	z-index: 99;
}

.blur:before {
	content: '';
	position: absolute;
	top: -10px; left: -10px; right: -10px; bottom: -10px;
	background: inherit;
	z-index: -1;
	filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .blur {
      background:url('../img/ie_bg.jpg') no-repeat left top;
	   -webkit-background-size: cover;
	   -moz-background-size: cover;
	   background-size: cover;
    }
}

.port_header {
	display: inline-block;
	padding: 2em 3em 18px 3em;
	min-height: 300px;
	vertical-align: middle;
	background: #40BCC9;
	float: left;
	position: relative;
	overflow: hidden;
}

.port_header:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.port_header h1 {
	color: #fff;
	font-size: 3em;
	line-height: 1em;
}

.port_header p {
	color: #fff;
	font-size: 1.25em;
	line-height: 1.5em;
	margin: 0.5em 0 0 0;
}

.port_content {
  display: inline-block;
  margin-left: 40px;
}

.port_content > p {
  margin-top: 15%;
}

.port_content > p > a {
  color: #40BCC9;
}

.port_content > ul > li {
  float: left;
  list-style: none;
  margin: 10px;
}

.port_content > ul > li a > img:hover {
    opacity:0.3;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.port_content > ul > li a > img:after {
    opacity:1;
}

.port_content > ul > li > a > img {
  width: 400px;
  height: 300px;
}

.port_content > ul > li > a > p {
  z-index: -1;
  position: absolute;
  top: 8px;
  font-size: 1.6em;
  margin-left: 10px;
}

.close_btn {
	color: #999;
	float: right;
	margin: 10px 30px 0 0;
	font-size: 2em;
	text-decoration: none;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
  position: fixed;
  bottom: 30px;
  color: #fff;
  font-size: 8pt;
  width: 100%;
}

.center {
  text-align: center;
}

.footer > a {
  color: #40BCC9;
}

@media screen and (max-width: 768px) {

  .alert_box p {
    font-size: 72%;
  }

  .nav > ul {
    display: block;
    text-align: center;
  	-moz-animation-delay: 0.5s;
  	-webkit-animation-delay: 0.5s;
  	animation-delay: 0.5s;
  }

  .nav > ul > li {
    clear: both;
  	list-style: none;
    padding: 20px 0 0 0;
  }

  .header {
  	padding: 10% 0 20% 0;
  	display: table;
  	margin-left: auto;
  	margin-right: auto;
  }

  .portfolio {
    width: 100%;
    height: 100%;
    position: fixed;
    top: -40px;
    z-index: 99;
  }

  .portfolio > .close_btn {
    position: fixed;
    top: 0;
    right: -10px;
    color: #fff;
  }

  .portfolio > .close_btn:hover {
    color: #d3d3d3;
  }

  .port_header {
    min-height: 150px;
    padding: 2.2em;
  }

  .port_content {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    padding: 10px;
  }

  .port_content > ul > li {
    display: none;
    list-style: none;
    margin: 10px;
  }

  .port_content > ul > li:first-child {
    display: block;
  }

  .port_content > ul > li > a > img {
    width: 240px;
    height: 200px;
  }

}
